<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>
  <body>
    <div class="container">
    <h1><%= title %></h1>

    
    
    <h1>  Filter </h1>

    <br>
<% if(success!="") { %>
    <div class="alert alert-success">
      <strong><%= success %></strong>  
      <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
  
    </div>
<% } %> 


    <form method="post" action="/search/">
      <div class="form-row">

        <div class="form-group col-md-3">
          <input type="text"  class="form-control" name="uname" placeholder="search by name">
        </div>
        <div class="form-group col-md-3">
          <input type="email"  class="form-control" name="email" placeholder="search by email">
        </div>
        <div class="form-group col-md-3">
          <select name="hourly" class="form-control">
            <option value="hourly" selected>hourly</option>
            <option value="asfsfdg" >asfsfdg</option>
            <option value="asf">asf</option>
          </select>
                 </div>
        <div class="form-group col-md-3">
          <input type="submit"  name="submit" class="btn btn-primary" value="submit">
        </div>


      </div>

    </form>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Emp Type</th>
          <th>Houtly Rate</th>
          <th>Total Hours</th>
          <th>Total Amounts</th>
          <th>Action</th>
     
        </tr>
      </thead>
      <tbody>
        <% records.forEach(function(row)
        {

         %>
        <tr>
          <td><%= row.name  %></td>
          <td><%= row.email  %></td>
          <td><%= row.etype  %></td>
          <td><%= row.hourlyrate %></td>
          <td><%= row.totalHour %></td>
          <td><%=  row.total %></td>

          <td><a class="btn btn-success mt-1 mb-1" data-toggle="tooltip" data-placement="top" title="Edit" href="/edit/<%= row._id %>"> <i class="fa fa-edit" aria-hidden="true"></i></a> <a class="btn btn-info mt-1 mb-1" data-toggle="tooltip" data-placement="top" title="Delete" href="/delete/<%= row._id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>

        <%  })  %>
        
      </tbody>
    </table>

    <form method="post" action="/">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="inputPassword4">Name</label>
          <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter name">
        </div>

        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        
      </div>
      <div class="form-group">
        <label for="inputAddress">Emp Type</label>
        <input type="text" class="form-control" id="emptype" name="emptype" placeholder="emptype">
      </div>

      <div class="form-group">
        <label for="inputAddress2">	Houtly Rate </label>
        <input type="number" class="form-control" id="hrlyrate" name="hrlyrate" placeholder="Houtly Rate">
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputCity">Total Hours</label>
          <input type="number" class="form-control" id="ttlhr" name="ttlhr" placeholder="Total Hours">
        </div>
      </div> 
      <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>
  </body>
</html>
